@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  background-color: black; 
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

#app, * {
  font-family: 'Ubuntu Mono', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}

#nav, h1, h2 {
  margin: 1rem;
}

#nav a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

#member_grid{
  display: inline-flex;
  flex-direction: row;
  width: 100%
}

#member_group_1, #member_group_2{
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  flex-shrink: 0;
}

.title {
  font-size: 30px;
  margin: 0;
  line-height: 30px;
  background: none;
}
#qoute {
  position: absolute;
  left: 100vw;
  white-space: nowrap;
  overflow-x: hidden;
}
#nav_bar {
  position: fixed;
  width: 100%;
  padding-top: 0.5rem;
  top: 0;
}

hr {
  border: 1px solid #555
}

.pointer {
  cursor: pointer
}

.contest {
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  padding-top: 1rem;
}
.contest:hover {
  background-color: #222;
}